---
import { getImage, LocalImageProps, Image } from "astro:assets"
import { CollectionEntry, getCollection } from "astro:content"

import Layout from "../../layouts/Layout.astro"
import { format } from "date-fns"

export async function getStaticPaths() {
  const images = await getCollection("images")
  return images.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry }: { entry: CollectionEntry<"images"> } = Astro.props
const { Content } = await entry.render()
---

<style>
  a {
    display: flex;
    flex-flow: column;
    flex: 1 0 0;
    overflow: hidden;
  }

  img {
    height: fit-content;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: scale-down;
    width: fit-content;
  }

  dl {
    display: flex;
    column-gap: 1rem;
    margin: 0.5rem auto 0;
  }

  dt {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  dt,
  dd {
    display: inline;
  }

  dd {
    margin-left: 0;
  }
</style>

<Layout title={entry.data.title} fullWidth>
  <a href={entry.data.src.src}>
    <Image src={entry.data.src} alt={"TODO"} />
  </a>
  <dl>
    <dt>Date</dt>
    <dd>{format(entry.data.exif.date, "d MMMM yyyy")}</dd>
    <dt>Camera</dt>
    <dd>{entry.data.exif.cameraModel}</dd>
    <dt>Lens</dt>
    <dd>{entry.data.exif.lensModel}</dd>
    <dt>F number</dt>
    <dd>ƒ/{entry.data.exif.fNumber}</dd>
    <dt>Exposure time</dt>
    <dd>{entry.data.exif.exposureTime}s</dd>
    <dt>ISO</dt>
    <dd><span aria-hidden="true">ISO</span>{" "}{entry.data.exif.iso}</dd>
  </dl>
  <Content />
</Layout>
